HELP.md
target/
backend/target/
node_modules/
frontend/node_modules/
dist/
frontend/dist/
!.mvn/wrapper/maven-wrapper.jar
!**/backend/.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Miscellaneous ###
*.log
*.class
